  @media (min-width: 50em) {
    main  {
      display: contents;
    }
  }
  main > header, 
  .header-sup,
  .box {
    grid-column: 2 / 8;
  }
  .header-sup {
    margin-bottom: 48px;
  }
  .header-sup p:first-child {
    margin-top: 0;
  }
  #site-header { 
    margin-bottom: 64px; 
  }
  .tools-filters {
    font-size: 85%;
    grid-row-start: 3;
    grid-column: 2 / 4;
  }
  .tools-filters legend {
    font-size: 1em;
    margin-bottom: 8px;
  }
  .tools-filters label {
    margin-bottom: 4px;
    display: flex;
    align-items: baseline;
  }
  .tools-filters input {
    clear: left;
    float: left;
    margin-right: .5em;
  }
  .tools {
    display: contents;
  }
  .tools-tools {
    grid-column: 4 / 10;
    grid-row-start: 3;
    position: relative;
    display: flex;
  }
  .tools-tools p:first-child {
    margin-top: 0;
  }
  .tool {
    background-color: white;
    padding: 1em;
    border: 1px solid var(--line-grey);
    margin-bottom: 1em;
    box-shadow: 1px 1px 4px -4px #000;
  }
  .tool h3 {
    margin: 0;
    font-size: 1em;
  }
  .tool h3 + p {
    margin-top: 0;
  }
  .tool h3 span {
    font-size: 75%;
    font-weight: normal;
  }
.tool__features { 
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: .5em 1em;
  margin: 1em -1em -1em -3em;
  padding: 1em;
  background-color: var(--off-white);
}
  .tool__features dt {
    margin-top: 0;
  }
  .tool__features dt small {
    font-weight: normal;
    margin-left: 1em;
  }
  .tool__features dd {
    margin-left: 0;
  }
@media (min-width: 50em) {
  .tool__features { 
    grid-template-columns: repeat(2, auto 1fr);
  }
}
.tool__features-a11y {
  grid-column: 1 / -1;
}
.tool__report {
  float: right;
  color: var(--grey);
}
  .tag {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    border-radius: 1em;
    padding: 0 .75em;
    font-size: 75%;
    background-color: var(--cloudy-subtle);
    margin-left: .5em;
    display: none;
  }
  .tag:hover {
    background-color: var(--w3c-blue);
    color: #fff;
  }
  .status:not([hidden]) {
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .75;
    display: flex;
    align-items: start;
    justify-content: center;
    transition: opacity 0.2s;
  }